<span class="fa fa-star rating-start" id="star1" title='Poor' data-rating = '1'></span>
<span class="fa fa-star rating-start" id="star2" title='Fair' data-rating = '2' ></span>
<span class="fa fa-star rating-start" id="star3" title='Good' data-rating = '3' ></span>
<span class="fa fa-star rating-start" id="star4" title='Excellent' data-rating = '4' ></span>
<span class="fa fa-star rating-start" id="star5" title='WOW!!!' data-rating = '5'></span>