<% stars = product.stars %>
<% reviews_count = product.reviews_count %>
<div class="ratings">
  <p class="ratings-stars">
    <span title="<%= txt_stars(stars) %>">
      <%= render 'spree/reviews/stars', stars: stars %>
    </span>
  </p>
  </div>
<a class="reviews_button ratings-basedupon" href=""><%= reviews_count%> &nbsp;<%= Spree.t('pages.common.reviews')%></a>  | 