<div id="reviews">
  <% if Spree::Reviews::Config[:include_unapproved_reviews] == false and @product.reviews.approved.count == 0 %>
  	<%= render 'spree/reviews/stars', stars: 0 %>
  <% else %>
    <%= render 'spree/shared/rating', product: @product, review: 0 %>
  <% end %>
  <a class="write_review_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><%= Spree.t('pages.common.review_new')%></a>
</div>
