<div id="reviews">
	<% if Spree::Reviews::Config[:include_unapproved_reviews] == false and @product.reviews.approved.count == 0 %>
		<p class="reviews-none"><%= Spree.t(:no_reviews_available) %></p>
	<% else %>
	    <% for review in (Spree::Reviews::Config[:track_locale] ? @product.reviews.localized(I18n.locale) : @product.reviews).default_approval_filter.preview %>
	      <%= render 'spree/shared/review', review: review %>
		<% end %>
	<% end %>
<h2 id="review-title"><%= Spree.t('pages.common.review_new')%></h2>
<%= render 'spree/reviews/form', locals: {product: @product } %>
</div>